<%= tb_table(bordered: true) do %>
  <tbody>
    <%= tb_table_row(info: true) do %>
      <td>Using</td>
      <td>tb_table</td>
      <td>and</td>
      <td>tb_table_row</td>
      <td>here</td>
    <% end %>
  </tbody>
<% end %>